body {
    margin: 0;
}

#gameboard {
    position: fixed;
}

.form-control {
    width: 50px;
}

/* #navbar {
    margin-bottom: 100px;
} */

.hidden {
    display: none !important;
}

h1 {
    color: white;
    font-size: 36px;
}

.winner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100vw;

}